body {
  background: black;
  overflow:hidden;
}

#canvas1 {
  position: absolute;
  width: 1400px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introOverlay {
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  background: linear-gradient(130deg, #7847ff, #4164ff, #33d6ff);
  background-size: 200% 200%;

  -webkit-animation: gra 8s ease infinite;
  -moz-animation: gra 8s ease infinite;
  animation: gra 8s ease infinite;
}

@-webkit-keyframes gra {
  0%{background-position:20% 10%}
  50%{background-position:91% 100%}
  100%{background-position:20% 10%}
}
@-moz-keyframes gra {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes gra { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}


@media only screen and (max-width: 1400px) {
  #canvas1 {
    width: 1024px;
    height: 700px;
  }
}

@media only screen and (max-width: 1024px) {
  #canvas1 {
    width: 768px;
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  #canvas1 {
    width: 560px;
    height: 400px;
  }
}

@media only screen and (max-width: 560px) {
  #canvas1 {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  #canvas1 {
    width: 300px;
    height: 200px;
  }
}

@media only screen and (max-width: 300px) {
  #canvas1 {
    width: 240px;
    height: 200px;
  }
}

